In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("InterconnectorFlows_18102023_to_181024_30min.csv")

In [102]:
df = df.set_index("StartTime") 
df.sort_values(["SettlementDate", "SettlementPeriod"], inplace=True) # Ordering by date then time
df.head()

,Dataset,PublishTime,SettlementDate,SettlementPeriod,FuelType,Generation
StartTime,,,,,,
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTELEC,996
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTEW,-252
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTFR,994
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTIFA2,992
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTIRL,-452

In [98]:
df = df[df["FuelType"] != 'INTGRNL'] # removing greenlink as all generation is 0
df.head()

,Dataset,PublishTime,SettlementDate,SettlementPeriod,FuelType,Generation
StartTime,,,,,,
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTELEC,996
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTEW,-252
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTFR,994
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTIFA2,992
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTIRL,-452

In [99]:
df[df["FuelType"] == 'INTNEM'].head()

,Dataset,PublishTime,SettlementDate,SettlementPeriod,FuelType,Generation
StartTime,,,,,,
2023-10-18T16:00:00Z,FUELHH,2023-10-18T16:30:00Z,2023-10-18,35,INTNEM,1014
2023-10-18T16:30:00Z,FUELHH,2023-10-18T17:00:00Z,2023-10-18,36,INTNEM,1020
2023-10-18T17:00:00Z,FUELHH,2023-10-18T17:30:00Z,2023-10-18,37,INTNEM,1020
2023-10-18T17:30:00Z,FUELHH,2023-10-18T18:00:00Z,2023-10-18,38,INTNEM,1020
2023-10-18T18:00:00Z,FUELHH,2023-10-18T18:30:00Z,2023-10-18,39,INTNEM,1020

In [103]:
inters = set(df["FuelType"])
inters_info = {i:[0]*4 for i in set(df["FuelType"])}

for inter in inters:
    inter_info = df[df["FuelType"] == inter]["Generation"]
    inters_info[inter][0] = inter_info.sum()
    inters_info[inter][1] = inter_info.max()
    inters_info[inter][2] = inter_info.min()
    inters_info[inter][3] = len(inter_info)

In [88]:
inter_info = df[df["FuelType"] == 'INTGRNL']["Generation"]

In [104]:
inters_info

{'INTGRNL': [-932, 0, -54, 3534],
 'INTNEM': [8501454, 1366, -1022, 17567],
 'INTVKL': [5494102, 1436, -1460, 15896],
 'INTIFA2': [8222964, 1178, -872, 17567],
 'INTNSL': [17440580, 1474, -1454, 17567],
 'INTFR': [19222792, 2630, -2056, 17567],
 'INTELEC': [12381336, 1260, -1024, 17567],
 'INTIRL': [-4932540, 400, -454, 17567],
 'INTEW': [-5200860, 504, -532, 17567],
 'INTNED': [3525866, 1402, -1080, 17567]}

[0]

In [26]:
len(df)
len(df[df["FuelType"] == "INTVKL"])

15896

In [38]:
df[df["SettlementPeriod"] == 33]

,Dataset,PublishTime,StartTime,SettlementDate,SettlementPeriod,FuelType,Generation
8,FUELHH,2023-10-25T15:30:00Z,2023-10-25T15:00:00Z,2023-10-25,33,INTELEC,998
9,FUELHH,2023-10-25T15:30:00Z,2023-10-25T15:00:00Z,2023-10-25,33,INTEW,0
10,FUELHH,2023-10-25T15:30:00Z,2023-10-25T15:00:00Z,2023-10-25,33,INTFR,1004
11,FUELHH,2023-10-25T15:30:00Z,2023-10-25T15:00:00Z,2023-10-25,33,INTIFA2,992
12,FUELHH,2023-10-25T15:30:00Z,2023-10-25T15:00:00Z,2023-10-25,33,INTIRL,2
...,...,...,...,...,...,...,...
159501,FUELHH,2024-10-17T15:30:00Z,2024-10-17T15:00:00Z,2024-10-17,33,INTIRL,-256
159502,FUELHH,2024-10-17T15:30:00Z,2024-10-17T15:00:00Z,2024-10-17,33,INTNED,-100
159503,FUELHH,2024-10-17T15:30:00Z,2024-10-17T15:00:00Z,2024-10-17,33,INTNEM,790
159504,FUELHH,2024-10-17T15:30:00Z,2024-10-17T15:00:00Z,2024-10-17,33,INTNSL,0
159505,FUELHH,2024-10-17T15:30:00Z,2024-10-17T15:00:00Z,2024-10-17,33,INTVKL,584

In [42]:
df[df["SettlementDate"] < "2023-10-25"]

,Dataset,PublishTime,StartTime,SettlementDate,SettlementPeriod,FuelType,Generation
272,FUELHH,2023-10-24T23:00:00Z,2023-10-24T22:30:00Z,2023-10-24,48,INTELEC,996
273,FUELHH,2023-10-24T23:00:00Z,2023-10-24T22:30:00Z,2023-10-24,48,INTEW,-478
274,FUELHH,2023-10-24T23:00:00Z,2023-10-24T22:30:00Z,2023-10-24,48,INTFR,996
275,FUELHH,2023-10-24T23:00:00Z,2023-10-24T22:30:00Z,2023-10-24,48,INTIFA2,992
276,FUELHH,2023-10-24T23:00:00Z,2023-10-24T22:30:00Z,2023-10-24,48,INTIRL,-344
...,...,...,...,...,...,...,...
2683,FUELHH,2023-10-18T16:30:00Z,2023-10-18T16:00:00Z,2023-10-18,35,INTIFA2,992
2684,FUELHH,2023-10-18T16:30:00Z,2023-10-18T16:00:00Z,2023-10-18,35,INTIRL,-452
2685,FUELHH,2023-10-18T16:30:00Z,2023-10-18T16:00:00Z,2023-10-18,35,INTNED,420
2686,FUELHH,2023-10-18T16:30:00Z,2023-10-18T16:00:00Z,2023-10-18,35,INTNEM,1014
2687,FUELHH,2023-10-18T16:30:00Z,2023-10-18T16:00:00Z,2023-10-18,35,INTNSL,0

In [10]:
df2 = pd.read_csv('https://data.elexon.co.uk/bmrs/api/v1/generation/outturn/interconnectors?settlementDateFrom=2023-09-20&settlementDateTo=2023-09-27&format=csv', )

In [11]:
df2.head()

,Dataset,PublishTime,StartTime,SettlementDate,SettlementDateTimezone,SettlementPeriod,InterconnectorName,Generation
0,INTOUTHH,2023-09-27T23:00:00Z,2023-09-27T22:30:00Z,2023-09-27,Europe/London,48,Eleclink (INTELEC),-1026
1,INTOUTHH,2023-09-27T23:00:00Z,2023-09-27T22:30:00Z,2023-09-27,Europe/London,48,Ireland(East-West),-124
2,INTOUTHH,2023-09-27T23:00:00Z,2023-09-27T22:30:00Z,2023-09-27,Europe/London,48,France(IFA),-1022
3,INTOUTHH,2023-09-27T23:00:00Z,2023-09-27T22:30:00Z,2023-09-27,Europe/London,48,IFA2 (INTIFA2),-1030
4,INTOUTHH,2023-09-27T23:00:00Z,2023-09-27T22:30:00Z,2023-09-27,Europe/London,48,Northern Ireland(Moyle),190